
.first-row{
    width: 100%;
    height:1500px;
   
}
.main-content{
height: 100%;



}
.main-cont-inner{
    height: 90%;
    margin-top: 2%;
}
.titile-box{
    height: 5%;
    display: flex;
    justify-content: center;
    
}
.titile-box h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.address{
    height: 300px;
      
}

.address-box{
    width: 100%;
    height: 200px;
   background-color: aliceblue;
    box-shadow: 0 0 10px rgb(176, 176, 176);
    display: flex;

    
    
}
.button-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0;
    flex-direction: column;
}
.address-inner-box{
    height: 100%;
    padding: 0;
}
.coupen-inner-box{
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.order{
    min-height: 60%;
    background:white;    
    margin-left: 3%;
    overflow-y: auto;
  
}


th{
    padding-left: 50px;
    color:teal;
}
td{
    padding-left: 50px;
    padding-top: 20px;
    color: rgb(136, 6, 6);
    font-weight: bolder;

}
.name{
    width:30%;
    word-wrap: break-word;
}
.change-btn{
    border: none;
    background-color: crimson;
    border-radius: 30px;
    padding: 10px 20px;
}
.change-address{
    height: 60%;
    background:whitesmoke;    
    margin-left: 3%;
     display: none;
}
.address-body{
    height: 85%;
    overflow-y: auto;
}
.address-part{
    height: 45%;
    border-bottom: 1px solid teal;
}
.address-titile{
    
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
        font-size: 30px;
        font-weight: bolder;
        
    border-bottom: 1px solid green;    
}
.address-titile p{
    
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: rgb(136, 6, 6);
       
}
.inner-address-box{
    height:85% ;
}
.option{
    height: 15%;
   
    
}
.addrss-inner{
    height: 85%;
   
}
.address-inner p{
    color: black;
}





.billing-colum{
    height: 100%;
   
}
.final-order-heading{
    padding-left:1px ;color:rgb(136, 6, 6);padding-top: 20px;
}

.submit{
    margin-top: 10px;
    margin-left: 100px;
    border: none;
    background-color:rgb(136, 6, 6) ;
    color: white;
    padding: 5px 10px;
}
/* ///////////////////modal/////////// */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 30px;
  box-shadow: 1px 1px 1px black;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  color: brown;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.model-heading{
height: 30%;
display: flex;
align-items: center;
justify-content: center;
}
.model-heading h3{
    font-weight: bold;
    color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.modal-btn{
    margin-top: 4%;
    margin-left: 40%;
    background-color: steelblue;
    border: none;
    padding: 1% 5%;
    border-radius: 30px;
}
.coupen-box{
    height: 10%;
    margin-top: 10%;
}
.coupen-box input{
    width: 76%;
    height: 44%;
    border-radius: 5px;
    border: 1px solid rgb(211, 210, 210);
    
    
}
.coupen-box button{
    background-color: rgb(136, 6, 6);
     height: 43%;
    color: white;
    border: none;
    
}
.coupen-box input[type="text"]{
    padding-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.add-button-img{
    margin-left: 10px;
    display: none;
}
#myAddModal{
display: none; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 30px;
  box-shadow: 1px 1px 1px black;
}


/* /////////////////////modal close /////////////////////*/
