

  .dropdown select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2px  15px 5px 15px;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }

  .dropdown select:focus {
    outline: none;
    border-color: #000;
    box-shadow: 0 0 0 2px #0002;
  }

