<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/forgot/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/validateForm.js"></script>
</head>
<body>

  {{>partial}}
    
    <div class="container mb-5">
        <div class="row px-3">
            <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
                <div class="img-left d-none d-md-flex">
                <img src="/images/img.jpg" alt="">
                </div>
                <div class="card-body">
                    <h4 class="title text-center mt-4">
                        Login into account
                    </h4>
                    {{#if error}}
                    <p style="color:red">{{error}}</p>
                    {{/if}}
                    {{#if message}}
                    <p style="color:red">{{message}}</p>
                    {{/if}}
                    <form class="form-box px-3" action="/user/log-in" method="post" onsubmit="return loginVal()">
                        <div class="form-input">
                            <span><i class="fa fa-envelope-o"></i></span>
                            <input type="text" name="email" placeholder="Email Address" tabindex="10" id="email">
                        </div>
                        <div class="form-input">
                            <span><i class="fa fa-key"></i></span>
                            <input type="password" name="password" placeholder="Password" id="password">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-block text-uppercase">
                                Login
                            </button>
                        </div>

                        <div class="text-right">
                            <a href="/user/log-in/forgot" class="forget-link">
                                Forget Password?
                            </a>
                        </div>
                        <div class="text-center mb-3">
                            
                        </div>
                        <hr class="my-4">

                        <div class="text-center mb-2">
                            Don't have an account?
                            <a href="/user/registration" class="register-link">
                                Register here
                            </a>
                        </div>
                    </form>               
                </div>
            </div>
        </div>
    </div>
</body>

</html>