


.main-cont {
      height:800px;
    
  }
  .admin-option{
    height:750px;
    width: 20%;
    display: flex;
    flex-direction: column;

}
.row-1{
    height:100%
  }
  .admin-profile{
    height: 30%;
    width: 100%;
    background-color: rgb(238, 234, 17);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
.admin-logo{
    width: 50%;

}
.user-name{
    font-weight: bolder;
}
.admin-categories{
    height: 70%;
    margin: 0;
    padding: 0;
}
.category{
    height: 10%;
    width: 100%;
    background:#f6f6f6;
    border: .5px rgb(237, 237, 237);
    border-style: inset; 
    padding: 0; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category a{
  color: black;
  text-decoration: none;
}
.category a:hover{
  text-decoration: none;
}

.main-content{
  height: 754px;
  width: 80%;
  border: 1px solid rgb(171, 169, 169);
}
.titleBox{
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addBox {
  text-align: right;
  margin-bottom: 20px;
}

.addBtn {
  background-color: #007bff;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
}

.addBtn:hover {
  background-color: #0056b3;
}
.addressBox{
  width: 100%;
  height: 90%;
  border: 1px solid rgb(157, 155, 155);
  margin-top: 2%;
  overflow: auto;
  
}
.tableBox{
  width: 100%;
  height: 90%;
  
  margin-top: 2%;
  overflow: auto;
}
.heading{
  width: 20%
}
.edit-btn{
 border: none;
 border: 20px;
 padding: 10px 20px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 2px auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width:1190px) {
 
 .category{
  font-size: 50%;
 }
 .user-name{
  font-size: 50%;
 }

}