body {
    background-color: rgb(197, 192, 192);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.photo img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.reset-title {
    font-size: 30px;
    font-weight: 600;
}

.timer {
    font-size: 36px;
    font-weight: 700;
}

.otp-box {
    height: 50px;
    width: 120px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.submit {
    width: 120px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background: rgb(54, 54, 255);
    color: white;
}

.R-otp {
    color: #007bff;
    font-weight: 500;
    border: none;
    background: none;
}

.R-otp:hover {
    color: black;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .reset-title {
        font-size: 24px;
    }

    .otp-box {
        width: 100%;
    }

    .submit {
        width: 100%;
    }
}
